$color-black: #333;
$color-white: #fff;
$color-tile-navy-blue: #2f454e;
$color-tile-blue: #2b8ead;
$color-tile-light-blue: #6f98a8;
$color-container-grey: #efefef;
$color-tile-grey: #bfbfbf;
$color-btn-blue: #72c3dc;
